header {
    display: flex;
    justify-content: space-between;
    background-color: #EEF315;
    border-bottom: 10px solid black;
    padding: 10px 20px;
}
/*bloco de comentário*/ 
/*font-family precsa de mais de uma família de fontes*/
nav {
    text-align: right;
}

img{
    height: 90px;
    width: -90px;
}

a {
    align-items: center;
    display: inline-flex;
    color: black; 
    font-size: 20px; /*size= tamanho*/
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500; /*weight= peso*/
    text-decoration: none;
    margin-right: 30px; /*margem*/
}
/*O '#' representa um aributo id de tag*/
a::before{ /*pseudoclasse*/
    content: " ";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

span {
    display: inline-block;
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    vertical-align: middle; /*vertical-align = alinhamento vertical*/
}

#button {
    display: inline-block; /* em toda tag <a>*/ /*É preciso mudar para inline-block. Assim, a largura e altura podem ser editadas */
    background-color: #F25A70;
    line-height: 60px; /*Sempre mesmo tamanho da linha. Serve para apenas 1 linha*/
    height: 60px; /*height= altura*/
    padding: 20px 18px; /*20px 18px 20px 18px*/
    box-shadow: 5px 5px 0 black;/*sombreia o button. Estrutura: eixoX eixoY burn color */
    transition: transform 100ms linear; /*animação de button*/
    margin-right: 0px;
}
/* 'hover' implementa interação de cursor do mouse*/
#buton:hover { /*é uma pseudoclasse*/
    transform: scale(1.08);
    opacity: 0.5;
}