.initial-page{
    background-image: url(../../assets/images/WIN_20240624_16_14_29_Pro\ 1.png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: solid 10px #000 ;
    box-sizing: border-box;
}

.initial-page .main-wrapper{
    display: flex;
    flex-direction: column; 
    width: 630px;
    padding-left: 90px;
    padding-top: 115px;
}

.initial-page .box-title{
    margin-bottom: 40px;
}

.initial-page .navigation{
    display: flex;
    justify-content: space-around;
}

.initial-page.-second{
    padding-top: 44px;
    background-image: none;
    background-color: #eef315;
    border-bottom: solid 10px #F25A70;
    height: 724px;
}

.initial-page .main-title{
    margin-bottom: 60px;
}

.initial-page.-third{
    background-image: none;
    background-color: #000;
    height: 520px;
    padding: 33px;
    border-bottom: solid 10px #eef315;
    box-sizing: border-box;
}