.main-description{
    font-family: "Fira Code", "Press Start 2P", sans-serif ;
    text-wrap: balance;
    font-size: 30px;
    color: #fff;
    padding-left: 80px;
    text-align: center;
    font-weight: 300;
    line-height: 1.3;
}